.material-icons {
    font-size: 24px !important;
}

.material-icons.rt8 {
    top: 8px;
    position: relative;
}

.material-icons.rt3 {
    top: 3px;
    position: relative;
}

.modal-footer .btn+.btn {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#maincontainer {
    padding-bottom: 120px;
}

#bottompartingame {
    left: 0px;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 6px;
    height: 150px;
    display: block;
    position: fixed;
    border-top: 2px solid;
    background-color: #eeeeee;
    -webkit-box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.5);
}

#bottompartingame>.texts {
    float: left;
}

#bottompartingame>.texts>* {
    margin: 0;
}

#bottompartingame>.cardsonhand0 {
    top: -90px;
    right: 0;
    float: right;
    position: absolute;
}


/* Prevent the text contents of draggable elements from being selectable. */

[draggable] {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8;
}

[draggable]:active {
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
    cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8 !important;
}

.cardsonhand0,
.cardsonhand1 {
    transform: scale(0.65);
    background-color: #45adad;
    border-top: 4px solid #dddddd;
}

.cardsonfield0,
.cardsonfield1 {
    transform: scale(0.65);
    background-color: #adad45;
    border-top: 4px solid #dddddd;
}

.cardc,
.cardcB {
    float: left;
    width: 14rem;
    margin: 1rem;
    height: 20rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.4rem;
    background-color: #ddeeff;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    /*background-color: #0d6787;*/
    -webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    -webkit-transition: all 0.175s ease-in-out;
    /* Firefox */
    -moz-transition: all 0.175s ease-in-out;
    /* WebKit */
    -o-transition: all 0.175s ease-in-out;
    /* Opera */
    transition: all 0.175s ease-in-out;
    /* Standard */
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

.cardcB {
    -webkit-box-shadow: inset 0px 0px 22px 2px rgba(0, 0, 0, 0.5), 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: inset 0px 0px 22px 2px rgba(0, 0, 0, 0.5), 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    box-shadow: inset 0px 0px 22px 2px rgba(0, 0, 0, 0.5), 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
}

.cardc .sfmd1 {
    /*Selfmade 1*/
    top: 0px;
    left: 55px;
    width: 30px;
    height: 200px;
    border-radius: 0px;
    background-color: rgba(236, 153, 0, 0.8);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
}

.cardcB.mdrs {
    /*Madras*/
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px), repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px);
}

.cardcB.crb {
    /*Carbon*/
    background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px, -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px, -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px, -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px, -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px), -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px, -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px, -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px, -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px, -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px), -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-size: 20px 20px;
    background-color: #131313;
    -pie-background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px / 20px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px / 20px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px / 20px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px / 20px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px) 0 0 / 20px, linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424) 0 0 / 20px #131313;
    behavior: url(/pie/PIE.htc);
}

.cardc:hover,
.cardcB:hover {
    z-index: 1;
    /*border: 1px solid #000000;*/
    -webkit-box-shadow: 0px 15px 22px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 15px 22px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 15px 22px 5px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
    transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
}

.cardc:active,
.cardc.isActive,
.cardcB:active,
.cardcB.isActive {
    -webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(0deg) scale(0.95) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(0.95) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(0.95) skew(0deg) translate(0px);
    -ms-transform: rotate(0deg) scale(0.95) skew(0deg) translate(0px);
    transform: rotate(0deg) scale(0.95) skew(0deg) translate(0px);
}

.cardc:active .cardlabel p,
.cardc.isActive .cardlabel p {
    -webkit-box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.5);
}

.cardc:active .cardlabel,
.cardc.isActive .cardlabel {
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
}

.cardc:active .cardicon,
.cardc.isActive .cardicon {
    -webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
}

.cardc .cardicon {
    width: 100%;
    height: 14rem;
    background-color: #ddeeff;
    -webkit-transition: all 0.275s ease-in-out;
    /* Firefox */
    -moz-transition: all 0.275s ease-in-out;
    /* WebKit */
    -o-transition: all 0.275s ease-in-out;
    /* Opera */
    transition: all 0.275s ease-in-out;
    /* Standard */
    -webkit-box-shadow: inset 0px 0px 22px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 22px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 22px 2px rgba(0, 0, 0, 0.5);
}

.cardc .cardlabel {
    width: 100%;
    bottom: 5rem;
    height: 2rem;
    text-align: center;
    position: absolute;
    vertical-align: middle;
    background-color: rgba(100, 200, 250, 0.8);
    -webkit-transition: all 0.175s ease-in-out;
    /* Firefox */
    -moz-transition: all 0.175s ease-in-out;
    /* WebKit */
    -o-transition: all 0.175s ease-in-out;
    /* Opera */
    transition: all 0.175s ease-in-out;
    /* Standard */
    -webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
}

.cardc .cardlabel p {
    color: #ffffff;
    /*color: #45adad;*/
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.175s ease-in-out;
    /* Firefox */
    -moz-transition: all 0.175s ease-in-out;
    /* WebKit */
    -o-transition: all 0.175s ease-in-out;
    /* Opera */
    transition: all 0.175s ease-in-out;
    /* Standard */
    text-shadow: 0px 0px 20px rgba(100, 100, 100, 1);
    -webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.0);
}

.cardc .cardcntnt {
    width: 100%;
    height: 6rem;
    bottom: 0rem;
    color: #ffffff;
    padding: 0.35rem;
    padding-top: 1rem;
    position: absolute;
    /*background-color: #45adad;*/
    background-color: #0d6787;
}

.cardc[val_HP]::before {
    content: "HP:" attr(val_HP);
}

.cardc[val_HP][val_AlreadyUsed]::before {
    content: "HP:" attr(val_HP) "/AU:" attr(val_AlreadyUsed);
}

.cardc[val_HP][val_RoundsLeft]::before {
    content: "HP:" attr(val_HP) "/RL:" attr(val_RoundsLeft);
}

.cardc[val_HP][val_AlreadyUsed][val_RoundsLeft]::before {
    content: "HP:" attr(val_HP) "/AU:" attr(val_AlreadyUsed) "/RL:" attr(val_RoundsLeft);
}

#elementeditor * {
    margin: 0.4rem;
}

.cardc .cardicon .ci {
    position: absolute;
    background-color: #000000;
}

.cardc .cardicon.type-unstyled .head {
    top: 4.0rem;
    left: 3.5rem;
    width: 7rem;
    height: 7rem;
    position: absolute;
    border-radius: 100rem;
}


/* 3 1 5 1 3*/

.cardsonfield0 .cardc[cardid='0'],
.cardsonfield0 .cardc[cardid='1'],
.cardsonfield0 .cardc[cardid='2'],
.cardsonfield0 .cardc[cardid='10'],
.cardsonfield0 .cardc[cardid='11'],
.cardsonfield0 .cardc[cardid='12'],
.cardsonfield1 .cardc[cardid='0'],
.cardsonfield1 .cardc[cardid='1'],
.cardsonfield1 .cardc[cardid='2'],
.cardsonfield1 .cardc[cardid='10'],
.cardsonfield1 .cardc[cardid='11'],
.cardsonfield1 .cardc[cardid='12'] {
    background-color: #5d5e5f;
}

.cardsonfield0 .cardc[cardid='3'],
.cardsonfield0 .cardc[cardid='9'],
.cardsonfield1 .cardc[cardid='3'],
.cardsonfield1 .cardc[cardid='9'] {
    background-color: #9d9e9f;
}

.cardsonfield0 .cardc[cardid='4'],
.cardsonfield0 .cardc[cardid='5'],
.cardsonfield0 .cardc[cardid='6'],
.cardsonfield0 .cardc[cardid='7'],
.cardsonfield0 .cardc[cardid='8'],
.cardsonfield1 .cardc[cardid='4'],
.cardsonfield1 .cardc[cardid='5'],
.cardsonfield1 .cardc[cardid='6'],
.cardsonfield1 .cardc[cardid='7'],
.cardsonfield1 .cardc[cardid='8'] {
    background-color: #cdcecf;
}